USE [SEIKYU_TEST]
GO
/****** Object:  Table [dbo].[T_CodeList]    Script Date: 2023/11/12 15:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CodeList](
	[KindID] [nvarchar](4) NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Sort] [int] NULL,
 CONSTRAINT [PK_T_CodeList] PRIMARY KEY CLUSTERED 
(
	[KindID] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_CodeList] ([KindID], [Code], [Name], [Sort]) VALUES (N'1000', N'1', N'一般ユーザー', 1)
INSERT [dbo].[T_CodeList] ([KindID], [Code], [Name], [Sort]) VALUES (N'1000', N'9', N'管理者', 2)
INSERT [dbo].[T_CodeList] ([KindID], [Code], [Name], [Sort]) VALUES (N'2000', N'10', N'10%', 1)
GO
